.table-height {
  max-height: 300px;
  overflow: auto;
  .table-main {
    position: relative;
    table {
      min-width: 1000px;
      thead {
        tr {
          th {
            &:nth-child(1) {
              position: sticky;
              left: 0;
              box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
            }
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100px;
          }
          position: sticky;
          top: 0;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          z-index: 1;
        }
      }
      tbody {
        tr {
          td {
            &:nth-child(1) {
              position: sticky;
              left: 0;
              box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
            }
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100px;
          }
        }
      }
    }
  }
}
