$bg-color: "bg-color";
$text-color: "text-color";// input prop
$input-border: "input-border";
$input-control-label: "input-control-label";



$themes: (
  light: (
    bg-color: $gray-25,
    text-color: $gray-900,
    input-border: $primary-200,
    input-control-label: $gray-700,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
