.home-page {
  .csv-file-container {
    .tool-header {
      text-align: right;
      display: flex;
      flex-flow: column;

      .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title-image {
        }

        .title-content {
          .title {
            font-size: 28px;
            font-weight: 600;
          }

          .subtitle {
            font-size: 16px;
            display: flex;
            font-weight: 600;
            justify-content: flex-end;
          }
        }
      }
    }

    .select-list {
      position: relative;
    }

    .select-row-index {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      z-index: 2;
      display: flex;
      gap: 8px;

      /* width: 87px; */
      /* display: flex; */
      .index-badge {
        border-radius: 4px;
        padding: 4px 15px;
        display: flex;
        align-items: center;
        gap: 4px;
        background: red;
        color: white;
        cursor: pointer;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .close-icon {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      z-index: 2;
      cursor: pointer;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .selected-item-container {
      .select-title {
        font-size: 15px;
        margin-bottom: 14px;
        margin-top: 24px;
        font-family: $inter-semibold;
        color: $gray-800;
      }

      .selected-list {
        margin-top: 24px;

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-flow: column;
          gap: 24px;
          list-style: none;

          li {
            .select-list-item {
              display: flex;
              flex-flow: column;
              .select-item-title {
                font-family: $inter-semibold;
              }

              .select-item-body {
                // display: flex;
                // align-items: center;
                // flex-flow: column;
                // gap: 4px;
                position: relative;
                &.focused {
                  box-shadow: 0px 0px 0px 4px $primary-100,
                    0px 1px 2px 0px rgba(24, 25, 25, 0.05);
                }

                .selected-item-box {
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  flex-flow: row;
                  justify-content: space-between;
                  gap: 4px;

                  .selected-item-content {
                    .selected-dropdown {
                      position: absolute;
                      border: 1px solid;
                      top: -0%;
                      // left: 0;
                      // right: 0;
                      padding: 10px;
                      border-radius: 8px;
                      border: 1px solid $green-400;
                      color: #181919;
                      background-color: #fff;
                      border-color: #a6f4c5;
                      // box-shadow: 0px 1px 2px 0px rgb(24 25 25 / 5%);
                      background: $primary-25;
                      display: none;
                      transform: translateY(-90%);
                      z-index: 9999;
                      max-width: 80%;
                      &.focused {
                        border-color: $primary-400;
                        box-shadow: 0px 0px 0px 4px $primary-100, 0px 1px 2px 0px rgba(24, 25, 25, 0.05);
                      }
                      &.left-side{
                        left: 0;
                        // right: 50px;
                      }
                      &.right-side{
                        // left: 50px;
                        right: 0;
                      }
                    }

                    &:hover,
                    &.active {
                      .selected-dropdown {
                        display: block;
                      }
                    }
                  }

                  .call-summary {
                  }

                  .call-transcript {
                  }

                  .eye-icon {
                    display: flex;
                    height: 11px;
                    width: 11px;
                    fill: currentColor;
                    justify-content: center;
                    align-items: center;

                    svg {
                      fill: currentColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
